@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
}

.main-div {
    display: flex;
    flex-direction: column;
    padding-left: 35%;
}

.main-div h1 {
    margin: 2rem;
    margin-left: 8%;
    margin-bottom: 3%;
    color: rgb(0, 110, 255);
}

.theme .mode {
    margin: 0 0 1rem 1rem;
    height: 30px;
    width: 100px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    background-color: #608BC1;
    border-radius: 0.8rem;
    cursor: pointer;
}

.cal-box {
    padding: 1rem;
    height: 510px;
    width: 360px;
    box-shadow: 0px 0px 40px grey;
    border-radius: 1rem;
    padding-left: 1rem;
}

.backcolor{
    background-color: burlywood;
}

.cal-box:hover {
    animation: bannera 4s linear  infinite alternate;
}

@keyframes bannera{
    0%{
        box-shadow: 0px 0px 2rem #18dde1;
        
}50%{
    box-shadow: 0px 0px 2rem #e92918;
    
}
100%{
    box-shadow: 0px 0px 2rem #1849e9;
    
}
}  

#display {
    height: 80px;
    width: 327px;
    border-radius: 1rem;
    border: none;
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 1rem;
    background-color: grey;
    color: #fff;
    text-align: right;
    padding-right: 1rem;
}

input::placeholder {
     color: rgba(240, 248, 255, 0.5);
}

.box {
    font-size: 1.7rem;
    font-weight: 700;
    margin: 0.5rem;
    height: 70px;
    width: 70px;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    color: black;
    box-shadow: 0 0 1rem grey;
}    

#del {
    background-color: red;
    color: #fff;
}

.big-box-1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 1rem grey;
    background-color: grey;
    color: #fff;
}

.big-box-2 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0.5rem;
    height: 50px;
    width: 160px;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    background-color: green;
    box-shadow: 0 0 1rem grey;
    color: #fff;
}



.dark{
    background-color: black;
    color: white;

}

.light{
    background-color: white;
    color: black;

}

.skyblue {
    background-color: #3DC2EC;
    color: #fff;
}